.container {
    background: url("../../images/events-news-bg.jpg") no-repeat;
    width: 100%;
    height: 140vh;
    position: relative;
}

.wrapper {
    display: flex;
    padding: 5em 10em 2em 10em;
    position: relative;
}

.description {
    padding-left: 2em;
    text-align: left;
}

.buttons {
    margin: 0 auto;
    width: 30em;
}