textarea {
    display: block;
    font-size: 14px;
    padding: 15px 24px;
    border: 2px solid #000000;
    border-radius: 10px;
    outline: none;
    margin: 1em;
    width: 30em;
    height: 10em;
}

label {
    font-size: 22px;
    color: #000000;
}