.header {
    position: relative;
}

.header-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.logo {
    width: auto;
    padding: 1em;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    /* position: relative; */
    width: auto;
    padding-right: 10em;
}



