.header-link {
    color: white;
    text-decoration: none;
  }
  
  .header-list-item, .footer-list-item {
    display: inline-block;
    height: auto;
    cursor: pointer;
    padding: 1em;
    vertical-align: top;
  }
  
  .header-list-item:hover {
    border-top: none;
    border-bottom: 2px solid #fff;
    font-weight: bold;
  }
  
  /* footer */
  .footer-link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-list-item:nth-child(1) {
    margin-left: 1%;
  }
  
  .footer-list-item:not(:last-child) {
    padding: 2%;
    margin-top: 1.5%;
  }
  
  .footer-list-item:hover {
    font-weight: bold;
  }
  
  .aside-list-item {
    display: block;
    width: 98%;
    border-left: 2px solid #234465;
    border-right: 2px solid #234465;
    margin-bottom: 11%;
    height: 5vh;
    text-align: center;
  }
  
  .aside-link {
    color: #234465;
    text-align: center;
    text-decoration: none;
    padding-top: 5px;
    height: 60%;
    display: block;
  }
  
  .aside-list-item:hover {
    border-left: none;
    border-right: none;
    font-weight: bold;
    border-top: 2px solid #234465;
    border-bottom: 2px solid #234465;
    color: #ffa000;
  }

  .article-link {
    color: #ffffff;
    text-decoration: none;
    position: relative;
  }

  .event-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 21px;
  }

  .event-list-item {
    margin: 0.5em;
  }

  .next-event-list-item {
    margin: 0 auto;
    margin-top: 40px;
  }

  .next-event-link {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid #bec0cc;
    text-decoration: none;
    color: #bec0cc;
  }
